body {
  padding-top: 50px;
}
.main {
  padding: 40px 15px;
  text-align: center;
}

.input-numbers{
    border: solid;
    height: 12rem;
    font-size: 6rem;
    padding-top:15px;
}
.output-numbers{
    border: solid;
    height: 12rem;
    font-size: 6rem;
    padding-top:15px;
}